@import "../bower/materialize/sass/materialize.scss";

html, body {
  height: 100%;
}

nav {
  @extend .deep-orange;
  @extend .darken-1;
  .brand-logo {
    margin-left: 10px;
  }
  span {
    margin-right: 6px;
  }
}

#emails {
  li {
    padding-left: 0px;
    border-left: 4px solid #fff;
    .from {
      color: color("grey", "darken-1");
      font-size: 0.8em;
    }
    .subject {
      font-weight: bold;
    }
    .preview-text {
      color: color("grey", "darken-1");
      font-size: 0.8em;
    }
  }
  li.unread {
    border-left: 4px solid color("blue", "accent-1");
  }
  li.open {
    @extend .z-depth-3;
  }
}

#email {
  padding: 16px;
  @extend .z-depth-3;
  .from {
    color: color("grey", "darken-1");
  }
  .subject {
    font-weight: bold;
    font-size: 1.3em;
  }
}
